<!-- {{ name }} Footer -->
<footer id="{{ name }}">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; {{company_name}} {{year}} </span>
            </div>
        </div>
    </div>
</footer>
